[submodule "Documents/453502/ОАиП/LR4/LabWork4_PartC/LB_TASK4"]
	path = Documents/453502/ОАиП/LR4/LabWork4_PartC/LB_TASK4
	url = https://github.com/Max2772/LB_TASK4
[submodule "Documents/453502/ОАиП/LR4/LabWork4_PartC/LB_TASK5"]
	path = Documents/453502/ОАиП/LR4/LabWork4_PartC/LB_TASK5
	url = https://github.com/Max2772/LB_TASK5
[submodule "Documents/453502/ОАиП/LR4/LabWork4_PartC/LB_TASK6"]
	path = Documents/453502/ОАиП/LR4/LabWork4_PartC/LB_TASK6
	url = https://github.com/Max2772/LB_TASK6
